<!--===============================-->
<!--== Image Slider ===============-->
<!--===============================-->
<section id="image-slider" class="row">
	<div class="col-md-7 col-sm-12">
		<div class="flexslider">
			<ul class="slides">
				<!-- <li><img src="{{ site.baseurl }}/images/img-01.png" alt="Slide Image"/></li> -->
				<li><img src="{{ site.baseurl }}/images/img-02.png" alt="Slide Image 2"/></li>
			</ul>
		</div>
	</div>
	<div class="col-md-5 col-sm-12">
		<div class="section-header text-right">
			<h2>Stay close to your customers.</h2>
			<h4>No more phone calls, no more mails. Chat with your customers fast and directly.</h4>
				</br>
		</br>
					<a id="registro-3" class="btn btn-small" href="#registro">I want it</a>
		</div>
	</div>
</section>
<!--==========-->
