<!--===============================-->
<!--== Image Slider ===============-->
<!--===============================-->
<section id="image-slider" class="row">
	<div class="col-md-5 col-sm-12">
		<div class="section-header text-right">
			<h2>Reduce your costs.</h2>
			<h4>An agent can handle up to 8 chats during the time of one phone call.</h4>
		</br>
		</br>
					<a id="registro-2" class="btn btn-small" href="#registro">I like it</a>
		</div>
	</div>
	<div class="col-md-7 col-sm-12">
		<div class="flexslider">
			<ul class="slides">
				<li><img src="{{ site.baseurl }}/images/equipo_imac.jpg" alt="Slide Image"/></li>
				<!-- <li><img src="{{ site.baseurl }}/images/img-02.png" alt="Slide Image 2"/></li> -->
			</ul>
		</div>
	</div>
</section>
<!--==========-->
