<!--===============================-->
<!--== Carousel ===================-->
<!--===============================-->

  <div class="col-sm-12">
    <div class="section-header text-center">
      <h2>Press</h2>
    </div>
  </div>
        <div class="row">
          <div class="col-md-2 col-sm-3">
            <div class="speaker">
              <div class="speaker-info">
                <div class="speaker-photo">
                  <img src="http://placehold.it/350x350">
                </div>                
              </div>
              <p>Extracto o descripción de la noticia <a href="#" target="_blank">read more</a></p>
            </div>
          </div>
          <div class="col-md-2 col-sm-3">
            <div class="speaker">
              <div class="speaker-info">
                <div class="speaker-photo">
                  <img src="http://placehold.it/350x350">
                </div>
                <div class="speaker-contacts">
                  <a href="#" target="_blank"></a>
                </div>
              </div>
              <p>Extracto o descripción de la noticia <a href="#" target="_blank">read more</a></p>
            </div>
          </div>
          <div class="col-md-2 col-sm-3">
            <div class="speaker">
              <div class="speaker-info">
                <div class="speaker-photo">
                  <img src="http://placehold.it/350x350">
                </div>
                <div class="speaker-contacts">
                  <a href="#" target="_blank"></a>
                </div>
              </div>
              <p>Extracto o descripción de la noticia <a href="#" target="_blank">read more</a></p>
            </div>
          </div>
          <div class="col-md-2 col-sm-3">
            <div class="speaker">
              <div class="speaker-info">
                <div class="speaker-photo">
                  <img src="http://placehold.it/350x350">
                </div>                
              </div>
              <p>Extracto o descripción de la noticia <a href="#" target="_blank">read more</a></p>
            </div>
          </div>
          <div class="col-md-2 col-sm-3">
            <div class="speaker">
              <div class="speaker-info">
                <div class="speaker-photo">
                  <img src="http://placehold.it/350x350">
                </div>
                <div class="speaker-contacts">
                  <a href="#" target="_blank"></a>
                </div>
              </div>
              <p>Extracto o descripción de la noticia <a href="#" target="_blank">read more</a></p>
            </div>
          </div>
          <div class="col-md-2 col-sm-3">
            <div class="speaker">
              <div class="speaker-info">
                <div class="speaker-photo">
                  <img src="http://placehold.it/350x350">
                </div>
                <div class="speaker-contacts">
                  <a href="#" target="_blank"></a>
                </div>
              </div>
              <p>Extracto o descripción de la noticia <a href="#" target="_blank">read more</a></p>
            </div>
          </div>
        </div>
<!--==========-->