				<!--===============================-->
				<!--== Pricing Tables =============-->
				<!--===============================-->
				<section id="prices" class="row">
					<div class="col-sm-12">
						<div class="section-header text-center">
							<h2>Plans</h2>
							<p>Choose the number of agent accounts you need per month. It's flexible and simple, no surprises at the end of the month. If you're just starting you can count with us.</p>
						</div>
					</div>
					<ul class="col-sm-3 pricing-features">
						<li>Unlimited messages</li>
						<li>Reporting</li>
						<li>Integrations</li>
						<li>Assignation rules</li>
						<li>Support 24/7</li>
						<li>Continuous training program</li>
					</ul>
					<div class="col-md-3 col-sm-4">
						<div class="pricing-table">
							<h3 class="table-title">Basic</h3>
							<p>Up to 2 agents</p>
							<div class="table-price">$0</div>
							<ul class="table-features">
								<li class="fa fa-check-circle"><span>Unlimited messages</span></li>
								<li class="fa fa-check-circle"><span>Reporting</span></li>
								<li class="fa fa-minus-circle"><span>Integrations</span></li>
								<li class="fa fa-minus-circle"><span>Assignation rules</span></li>
								<li class="fa fa-minus-circle"><span>Support 24/7</span></li>
								<li class="fa fa-minus-circle"><span>Continuous traning program</span></li>
							</ul>
						</div>
					</div>
					<div class="col-md-3 col-sm-4">
						<div class="pricing-table">
							<h3 class="table-title">Standard</h3>
							<p>3 - 50 agents</p>
							<div class="table-price">$80/agent</div>
							<ul class="table-features">
								<li class="fa fa-check-circle"><span>Unlimited messages</span></li>
								<li class="fa fa-check-circle"><span>Reporting</span></li>
								<li class="fa fa-check-circle"><span>Integrations</span></li>
								<li class="fa fa-check-circle"><span>Assignation rules</span></li>
								<li class="fa fa-minus-circle"><span>Support 24/7</span></li>
								<li class="fa fa-minus-circle"><span>Continuous traning program</span></li>
							</ul>
						</div>
					</div>
					<div class="col-md-3 col-sm-4">
						<div class="pricing-table">
							<h3 class="table-title">Corporate</h3>
							<p>More than 50 agents</p>
							<div class="table-price"> Let's Talk </div>
							<ul class="table-features">
								<li class="fa fa-check-circle"><span>Unlimited messages</span></li>
								<li class="fa fa-check-circle"><span>Reporting</span></li>
								<li class="fa fa-check-circle"><span>Integrations</span></li>
								<li class="fa fa-check-circle"><span>Assignation rules</span></li>
								<li class="fa fa-check-circle"><span>Support 24/7</span></li>
								<li class="fa fa-check-circle"><span>Continuous traning program</span></li>
							</ul>
						</div>
					</div>
				</section>
				<!--==========-->
