<div class="col-sm-12">
    <div class="section-header text-center">
      <h2>Register your company</h2>
      <p>We're open eyes to your company! Come'on, Let's Talk! if you want to register your company or you have any question, just drop us a line and we'll conctact you immediately.</p>
    </div>
  </div>
<form action="https://docs.google.com/a/letsta.lk/forms/d/1qqXojp9ldvojcTAEgwrw070qV-ecZlpQR3E5jgtho-E/formResponse" method="POST" id="ss-form subscribe-form" class="form" target="_blank" onsubmit=""><ol role="list" class="ss-question-list" style="padding-left: 0">
	<div class="col-md-2 col-sm-6">
		<input type="text" name="entry.406781281" value="" class="ss-q-short" id="entry_406781281" dir="auto" aria-label="Name   " aria-required="true" placeholder="Name*" required="" title="">
	</div>
	<div class="col-md-2 col-sm-6">
		<input type="text" name="entry.1753933706" value="" class="ss-q-short" id="entry_1753933706" dir="auto" aria-label="E-mail   " aria-required="true" required="" title="" placeholder="Email*">
	</div>
	<div class="col-md-2 col-sm-6">
		<input type="text" name="entry.645477817" value="" class="ss-q-short" id="entry_645477817" dir="auto" aria-label="Company name" aria-required="true" required="" title="" placeholder="Company name*">
	</div>
	<div class="col-md-2 col-sm-6">
		<input type="text" name="entry.506445219" value="" class="ss-q-short" id="entry_506445219" dir="auto" aria-label="Website" aria-required="true" required="" title="" placeholder="mycompany.com">
	</div>
	<div class="col-md-2 col-sm-6">
		<select name="entry.912036312" id="entry_912036312" aria-label="Categoría Category " aria-required="true" required="" class="valid"><option value=""></option>
<option value="Banca y Finanzas">Finance and Banking</option> <option value="Comida y Delivery">Food & Delivery</option> <option value="Comunicaciones">Communications</option> <option value="Entretenimiento">Entertainment</option> <option value="Gobierno">Government</option><option value="Salud y Bienestar">Health & Welfare</option> <option value="Seguros">Insurance</option> <option value="Shopping">Shopping</option> <option value="Transporte">Transportation</option> <option value="Viajes">Travel</option> <option value="Otros Servicios">Other Services</option></select>
	</div>

	<div class="col-md-2 col-sm-6">
		<input type="submit" name="submit" value="Register" id="ss-submit" class="jfk-button jfk-button-action ">
	</div>
	<input type="hidden" name="draftResponse" value="[,,-5401898719998166059]">
	<input type="hidden" name="pageHistory" value="0">
	<input type="hidden" name="fbzx" value="-5401898719998166059">
</form>
