<!--===============================-->
<!--== Image Slider ===============-->
<!--===============================-->
<section id="image-slider" class="row">
	<div class="col-md-7 col-sm-12">
		<div class="flexslider">
			<ul class="slides">
				<!-- <li><img src="{{ site.baseurl }}/images/img-01.png" alt="Slide Image"/></li> -->
				<li><img src="{{ site.baseurl }}/images/img-02.png" alt="Slide Image 2"/></li>
			</ul>
		</div>
	</div>
	<div class="col-md-5 col-sm-12">
		<div class="section-header text-right">
			<h2>Manten cerca a tus clientes.</h2>
			<h4>La mensajería instantánea se apropió de las comunicaciones. No más llamadas, no más mails. Chatea con tus clientes rápido y directo.</h4>
				</br>
		</br>
					<a id="registro-3" class="btn btn-small" href="#registro">Quiero chatear</a>
		</div>
	</div>
</section>
<!--==========-->
