				<!--===============================-->
				<!--== Pricing Tables =============-->
				<!--===============================-->
				<section id="prices" class="row">
					<div class="col-sm-12">
						<div class="section-header text-center">
							<h2>Pricing Tables</h2>
						</div>
					</div>
					<ul class="col-sm-3 pricing-features">
						<li>Que incluye 1</li>
						<li>Que incluye 2</li>
						<li>Que incluye 3</li>
					</ul>
					<div class="col-md-3 col-sm-4">
						<div class="pricing-table">
							<h3 class="table-title">Free</h3>
							<div class="table-price">$0</div>
							<ul class="table-features">
								<li class="fa fa-check-circle"><span>1</span></li>
								<li class="fa fa-minus-circle"><span>2</span></li>
								<li class="fa fa-minus-circle"><span>3</span></li>
							</ul>
						</div>
					</div>
					<div class="col-md-3 col-sm-4">
						<div class="pricing-table">
							<h3 class="table-title">Basic</h3>
							<div class="table-price">$100</div>
							<ul class="table-features">
								<li class="fa fa-check-circle"><span>1</span></li>
								<li class="fa fa-check-circle"><span>2</span></li>
								<li class="fa fa-minus-circle"><span>3</span></li>
							</ul>
						</div>
					</div>
					<div class="col-md-3 col-sm-4">
						<div class="pricing-table">
							<h3 class="table-title">Pro</h3>
							<div class="table-price">$1000</div>
							<ul class="table-features">
								<li class="fa fa-check-circle"><span>1</span></li>
								<li class="fa fa-check-circle"><span>2</span></li>
								<li class="fa fa-check-circle"><span>3</span></li>
							</ul>
						</div>
					</div>
				</section>
				<!--==========-->