				<!--===============================-->
				<!--== Pricing Tables =============-->
				<!--===============================-->
				<section id="prices" class="row">
					<div class="col-sm-12">
						<div class="section-header text-center">
							<h2>Planes</h2>
							<p>Contrata la cantidad de cuentas que requieras por mes. Es simple y flexible. Sin sorpresas. Si estás recién comenzando cuenta con nuestro apoyo. </p>
						</div>
					</div>
					<ul class="col-sm-3 pricing-features">
						<li>Mensajes Ilimitados</li>
						<li>Reportes</li>
						<li>Integraciones</li>
						<li>Reglas asignación</li>
						<li>Soporte 24/7</li>
						<li>Capacitación permanente</li>
					</ul>
					<div class="col-md-3 col-sm-4">
						<div class="pricing-table">
							<h3 class="table-title">Básico</h3>
							<p>Hasta 2 agentes</p>
							<div class="table-price">$0</div>
							<ul class="table-features">
								<li class="fa fa-check-circle"><span>Mensajes Ilimitados</span></li>
								<li class="fa fa-check-circle"><span>Reportes</span></li>
								<li class="fa fa-minus-circle"><span>Integraciones</span></li>
								<li class="fa fa-minus-circle"><span>Reglas asignación</span></li>
								<li class="fa fa-minus-circle"><span>Soporte 24/7</span></li>
								<li class="fa fa-minus-circle"><span>Capacitación permanente</span></li>
							</ul>
						</div>
					</div>
					<div class="col-md-3 col-sm-4">
						<div class="pricing-table">
							<h3 class="table-title">Estándar</h3>
							<p>3 - 50 agentes</p>
							<div class="table-price">$80/agente</div>
							<ul class="table-features">
								<li class="fa fa-check-circle"><span>Mensajes Ilimitados</span></li>
								<li class="fa fa-check-circle"><span>Reportes</span></li>
								<li class="fa fa-check-circle"><span>Integraciones</span></li>
								<li class="fa fa-check-circle"><span>Reglas asignación</span></li>
								<li class="fa fa-minus-circle"><span>Soporte 24/7</span></li>
								<li class="fa fa-minus-circle"><span>Capacitación permanente</span></li>
							</ul>
						</div>
					</div>
					<div class="col-md-3 col-sm-4">
						<div class="pricing-table">
							<h3 class="table-title">Corporación</h3>
							<p>Más de 50 agentes</p>
							<div class="table-price"> Let's Talk </div>
							<ul class="table-features">
								<li class="fa fa-check-circle"><span>Mensajes Ilimitados</span></li>
								<li class="fa fa-check-circle"><span>Reportes</span></li>
								<li class="fa fa-check-circle"><span>Integraciones</span></li>
								<li class="fa fa-check-circle"><span>Reglas asignación</span></li>
								<li class="fa fa-check-circle"><span>Soporte 24/7</span></li>
								<li class="fa fa-check-circle"><span>Capacitación permanente</span></li>
							</ul>
						</div>
					</div>
				</section>
				<!--==========-->