---
layout: en/default
---	

<header id="header">
			
			{% include en/companies/menu.html %}
			<!--== Site Description ==-->
			<div class="header-cta">
				<div class="container">
					<div class="row">
						<div class="blk-right">
							<h1 class= "sharperGlow">Create your own Text Center.</h1>
							<h2 class= "sharperGlow">Call centers passed away,
							</br>Let's Talk is the best way to stay in touch
							</br>with your customers.</h2>
						</div>
					</div>
					<div class="row">
						<div class="blk-right">
							<div class="col-md-12 col-sm-6">
							<a id="registro-1" class="btn btn-medium" href="#registro">Start now for free</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="header-bg">
				<div id="preloader">
					<div class="preloader"></div>
				</div>
				<div class="main-slider" id="main-slider">

					<!--== Main Slider ==-->
					<ul class="slides">
						<li><img src="{{ site.baseurl }}/images/walking_man.jpg" alt="Walking Man"/></li>
					</ul>

				</div>
			</div>
		</header>

		<div class="content">
			<div class="container box">

				<section id="tour">
					{% include en/companies/img-slider-3.html %}
				</section>
				<section>
					{% include en/companies/img-slider-2.html %}
				</section>
				<section>
					{% include en/companies/img-slider.html %}
				</section>
				<section>
					{% include en/companies/img-slider-4.html %}
				</section>

				<section id="planes" class="row separated">
					{% include en/companies/pricing-tables.html %}
				</section>

				<section id="clientes" class="row separated">
					{% include en/companies/clients.html %}
				</section>

				<section id="registro" class="row reparated">
					{% include en/companies/register-form.html %}
				</section>
				
				<div id="gotop" class="gotop fa fa-arrow-up"></div>
			</div>
		</div>

		<footer id="footer">
			<div id="map_canvas"></div>
			
			<div class="footer">
				<div class="container box">

					<section id="info" class="row">
						<div class="col-sm-8">

							<ul class="social-icons">
								<li><a href="https://www.facebook.com/LetsTalkchat" target="_blank" class="fa fa-facebook"></a></li>
								<li><a href="https://twitter.com/go_letstalk" target="_blank" class="fa fa-twitter"></a></li>
								<!-- <li><a href="#" class="fa fa-google-plus"></a></li>
								<li><a href="#" class="fa fa-youtube"></a></li>
								<li><a href="#" class="fa fa-instagram"></a></li>
								<li><a href="#" class="fa fa-pinterest"></a></li>
								<li><a href="#" class="fa fa-linkedin"></a></li> -->
							</ul>

						</div>
						<div class="col-sm-4 text-right">
							<div class="copyrights">
								Hand made by Let's Talk SpA © 2015
							</div>
						</div>
					</section>

				</div>
			</div>
		</footer>

		<!--== Javascript Files ==-->
		
{% include scripts.html %}


