<!--===============================-->
<!--== Image Slider ===============-->
<!--===============================-->
<section class="row">
	<div class="col-md-5 col-sm-12">
		<div class="section-header text-right">
			<h2>Send and receive your location, photos or videos.</h2>
			<h4>Let's Talk allows you to exchange several types of data, including photos, videos, location, and PDF files. All of them within the same conversation! The old and long phone call is part of the past.</h4>
			</br>
			</br>
			<div>
				<a href="https://play.google.com/store/apps/details?id=com.camperfarm.letstalk" target="_blank"><img alt="Android app on Google Play" src="https://developer.android.com/images/brand/en_app_rgb_wo_60.png" /></a>
				<a href="https://itunes.apple.com/cl/app/lets-talk/id892192939?mt=8&uo=4" target="_blank"><img src="{{ site.baseurl }}/images/appstore-btn.svg"></a>
			</div>
		</div>
	</div>
	<div class="col-md-7 col-sm-12">
		<div class="flexslider">
			<ul class="slides">
				<li><img src="{{ site.baseurl }}/images/iphone6_nexus4_chat.png" alt="Nexus Attachements"/></li>
				<!-- <li><img src="{{ site.baseurl }}/images/img-02.png" alt="Slide Image 2"/></li> -->
			</ul>
		</div>
	</div>
</section>
<!--==========-->
