<!--===============================-->
<!--== Image Slider ===============-->
<!--===============================-->
<section class="row">
	<div class="col-md-7 col-sm-12">
		<div class="flexslider">
			<ul class="slides">
				<!-- <li><img src="{{ site.baseurl }}/images/img-01.png" alt="Slide Image"/></li> -->
				<li><img src="{{ site.baseurl }}/images/iphone6_conversations_list.png" alt="Slide Image 2"/></li>
			</ul>
		</div>
	</div>
	<div class="col-md-5 col-sm-12">
		<div class="section-header text-right">
			<h2>Your time is worthy.</h2>
			<h4>Don't stop your life holding on the line. Either watching a movie, or while commuting, just chat with customer service, and avoid the awful call center music.</h4>
			</br>
			</br>
				<a href="https://play.google.com/store/apps/details?id=com.camperfarm.letstalk" target="_blank"><img alt="Android app on Google Play" src="https://developer.android.com/images/brand/en_app_rgb_wo_60.png" /></a>
				<a href="https://itunes.apple.com/cl/app/lets-talk/id892192939?mt=8&uo=4" target="_blank"><img src="{{ site.baseurl }}/images/appstore-btn.svg"></a>
		</div>
	</div>
</section>
<!--==========-->
