			<div id="menu" class="header-menu fixed">
				<div class="container">
					<div class="row">
						<nav role="navigation" class="col-sm-12">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>

								<!--== Logo ==-->
								<a href="#header">
									<span class="navbar-brand logo">
										<img src="{{ site.baseurl }}/images/icono-letstalk.png">
									</span>
								</a>

							</div>
							<div class="navbar-collapse collapse">

								<!--== Navigation Menu ==-->
								<ul class="nav navbar-nav">
									<li  id="inicio"><a href="#header">Home</a></li>
									<li><a href="#tour">Tour</a></li>
									<li><a href="#contacto">Contact</a></li>
									<li><a href="{{ site.baseurl }}/en/companies" class="external">for Companies</a></li>
									<li><a href="http://go-letstalk.tumblr.com/" class="external">Blog</a></li>
									<li><a href="{{ site.baseurl }}/es/personas" class="external">Español</a></li>
								</ul>


							</div>
						</nav>
					</div>
				</div>
			</div>