<!--===============================-->
<!--== Register ===================-->
<!--===============================-->
<section id="contacto" class="row">
	<div class="col-sm-12">
		<div class="section-header text-center">
			<h2>Contacto</h2>
			<p>Estamos atentos y abiertos a tus comentarios, críticas y sugerencias. Lo que quieras decir, dilo.</p>
		</div>
		<form action="https://docs.google.com/a/letsta.lk/forms/d/1oSblrSNnzq7-C6RdijH1qKoT6Uuv3Y4Nt9V9KOhO1F0/formResponse" method="POST" id="ss-form subscribe-form" class="form" target="_blank" onsubmit=""><ol role="list" class="ss-question-list" style="padding-left: 0">
			<div class="col-md-2 col-sm-6">
				<input type="text" name="entry.406781281" value="" class="ss-q-short" id="entry_406781281" dir="auto" aria-label="Nombre" aria-required="true" placeholder="Nombre*" required="" title="">
			</div>
			<div class="col-md-2 col-sm-6">
				<input type="text" name="entry.1753933706" value="" class="ss-q-short" id="entry_1753933706" dir="auto" aria-label="Dirección de Correo electrónico   " aria-required="true" required="" title="" placeholder="Email*">
			</div>
			<div class="col-md-6 col-sm-6">
				<textarea name="entry.645477817" rows="8" cols="0" class="ss-q-long required" id="entry_645477817" dir="auto" aria-label="Tu mensaje...*" aria-required="true" required="" placeholder="Tu mensaje...*"></textarea>
			</div>

			<div class="col-md-2 col-sm-6">
				<input type="submit" name="submit" value="Enviar" id="ss-submit" class="jfk-button jfk-button-action ">
			</div>
			<input type="hidden" name="draftResponse" value="[,,-5401898719998166059]">
			<input type="hidden" name="pageHistory" value="0">
			<input type="hidden" name="fbzx" value="-5401898719998166059">
		</form>
</section>
