<!--===============================-->
<!--== Image Slider ===============-->
<!--===============================-->
<section id="image-slider" class="row">
	<div class="col-md-5 col-sm-12">
		<div class="section-header text-right">
			<h2>Answer your clients from your desktop.</h2>
			<h4>With your clients using instant messaging lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, quas, quibusdam, impedit ducimus nisi fugiat veritatis cupiditate commodi.</h4>
				<!-- <a href="https://play.google.com/store/apps/details?id=com.camperfarm.letstalk" target="_blank"><img alt="Android app on Google Play" src="https://developer.android.com/images/brand/en_app_rgb_wo_60.png" /></a>
				<a href="https://itunes.apple.com/cl/app/lets-talk/id892192939?mt=8&uo=4" target="_blank"><img src="{{ site.baseurl }}/images/appstore-btn.svg"></a> -->
		</div>
	</div>
	<div class="col-md-7 col-sm-12">
		<div class="flexslider">
			<ul class="slides">
				<li><img src="{{ site.baseurl }}/images/img-01.png" alt="Slide Image"/></li>
				<!-- <li><img src="{{ site.baseurl }}/images/img-02.png" alt="Slide Image 2"/></li> -->
			</ul>
		</div>
	</div>
</section>
<!--==========-->