<!--===============================-->
<!--== Image Slider ===============-->
<!--===============================-->
<section id="image-slider" class="row">
	<div class="col-md-5 col-sm-12">
		<div class="section-header text-right">
			<h2>Facilita la vida a tus clientes</h2>
			<h4>No más trámites. Deja que tus clientes vivan la felicidad de no llamar por teléfono. Envía imágenes, documentos, ubicación, de manera instantánea al teléfono de tus clientes. Calidad de servicio que sorprende.</h4></br>
		</br>
					<a id="registro-4" class="btn btn-small" href="#registro">Me encanta</a>
		</div>
	</div>
	<div class="col-md-7 col-sm-12">
		<div class="flexslider">
			<ul class="slides">
				<li><img src="{{ site.baseurl }}/images/img-01.png" alt="Slide Image"/></li>
				<!-- <li><img src="{{ site.baseurl }}/images/img-02.png" alt="Slide Image 2"/></li> -->
			</ul>
		</div>
	</div>
</section>
<!--==========-->
