<!--===============================-->
<!--== Image Slider ===============-->
<!--===============================-->
<section id="image-slider" class="row">
	<div class="col-md-7 col-sm-12">
		<div class="flexslider">
			<ul class="slides">
				<li><img src="{{ site.baseurl }}/images/indicadores_imac2013_front.png" alt="Indicadores"/></li>
			</ul>
		</div>
	</div>
	<div class="col-md-5 col-sm-12">
		<div class="section-header text-right">
			<h2>Monitorea la calidad de tu servicio.</h2>
			<h4>Todo se guarda. Todo se puede revisar. Todo se puede medir. Analiza el desempeño de tus agentes, la satisfacción de tus clientes y mucho más. Una base de conocimiento accesible.</h4>
				</br>
		</br>
					<a id="registro-5" class="btn btn-small" href="#registro">Lo necesito</a>
		</div>
	</div>
</section>
<!--==========-->
