<div class="col-sm-12">
    <div class="section-header text-center">
      <h2>Registra tu empresa</h2>
      <p>Ingresa tus datos y te contáctaremos para subir tu empresa a Let's Talk. ¿Aún con dudas? las resolveremos todas si nos las cuentas</a>.</p>
    </div>
  </div>
<form action="https://docs.google.com/a/letsta.lk/forms/d/1qqXojp9ldvojcTAEgwrw070qV-ecZlpQR3E5jgtho-E/formResponse" method="POST" id="ss-form subscribe-form" class="form" target="_blank" onsubmit=""><ol role="list" class="ss-question-list" style="padding-left: 0">
	<div class="col-md-2 col-sm-6">
		<input type="text" name="entry.406781281" value="" class="ss-q-short" id="entry_406781281" dir="auto" aria-label="Nombre   " aria-required="true" placeholder="Nombre*" required="" title="">
	</div>
	<div class="col-md-2 col-sm-6">
		<input type="text" name="entry.1753933706" value="" class="ss-q-short" id="entry_1753933706" dir="auto" aria-label="Dirección de Correo electrónico   " aria-required="true" required="" title="" placeholder="Email*">
	</div>
	<div class="col-md-2 col-sm-6">
		<input type="text" name="entry.645477817" value="" class="ss-q-short" id="entry_645477817" dir="auto" aria-label="Empresa" aria-required="true" required="" title="" placeholder="Empresa*">
	</div>
	<div class="col-md-2 col-sm-6">
		<input type="text" name="entry.506445219" value="" class="ss-q-short" id="entry_506445219" dir="auto" aria-label="Página Web" aria-required="true" required="" title="" placeholder="miempresa.com">
	</div>
	<div class="col-md-2 col-sm-6">
		<select name="entry.912036312" id="entry_912036312" aria-label="Categoría Category " aria-required="true" required="" class="valid"><option value=""></option>
<option value="Banca y Finanzas">Banca y Finanzas</option> <option value="Comida y Delivery">Comida y Delivery</option> <option value="Comunicaciones">Comunicaciones</option> <option value="Entretenimiento">Entretenimiento</option> <option value="Gobierno">Gobierno</option><option value="Salud y Bienestar">Salud y Bienestar</option> <option value="Seguros">Seguros</option> <option value="Shopping">Shopping</option> <option value="Transporte">Transporte</option> <option value="Viajes">Viajes</option> <option value="Otros Servicios">Otros Servicios</option></select>
	</div>

	<div class="col-md-2 col-sm-6">
		<input type="submit" name="submit" value="Registrarse" id="ss-submit" class="jfk-button jfk-button-action ">
	</div>
	<input type="hidden" name="draftResponse" value="[,,-5401898719998166059]">
	<input type="hidden" name="pageHistory" value="0">
	<input type="hidden" name="fbzx" value="-5401898719998166059">
</form>