---
layout: es/default
---	

<header id="header">
			
			{% include es/personas/menu.html %}
			<!--== Site Description ==-->
			<div class="header-cta">
				<div class="container">
					<div class="row">
						<div class="blk">
							<h1 class= "sharperGlow">Chatea con tiendas y servicios. </br>Gratis.</h1>
							<h2 class= "sharperGlow">Let's Talk es la forma más cómoda </br>de contactar a una empresa.</h2>
						</div>
					</div>
					<div class="row">
						<div class="blk">
										<a href="https://play.google.com/store/apps/details?id=com.camperfarm.letstalk" target="_blank"><img class="app-button" alt="Android app on Google Play" src="https://developer.android.com/images/brand/en_app_rgb_wo_60.png" /></a>
										<a href="https://itunes.apple.com/cl/app/lets-talk/id892192939?mt=8&uo=4" target="_blank"><img class="app-button" src="{{ site.baseurl }}/images/appstore-btn.svg"></a>
						</div>
					</div>
				</div>
			</div>

			<div class="header-bg">
				<div id="preloader">
					<div class="preloader"></div>
				</div>
				<div class="main-slider" id="main-slider">

					<!--== Main Slider ==-->
					<ul class="slides">
						<li><img src="{{ site.baseurl }}/images/coffee_man.jpg" alt="Coffee Man"/></li>
						<!-- <li><img src="images/girl_chatting.jpg" alt="Chatting Girl"/></li> -->
					</ul>

				</div>
			</div>
		</header>

		<div class="content">
			<div class="container box">

				<section class="row" id="tour">
					{% include es/personas/img-slider.html %}
				</section>
				<section class="row">
					{% include es/personas/img-slider-2.html %}
				</section>
				<section class="row">
					{% include es/personas/img-slider-3.html %}
				</section>
				<section class="row separated" id="contacto">
					{% include es/personas/contact-form.html %}
				</section>

				<div id="gotop" class="gotop fa fa-arrow-up"></div>
			</div>
		</div>

		<footer id="footer">
			<div id="map_canvas"></div>
			
			<div class="footer">
				<div class="container box">

					<section id="info" class="row">
						<div class="col-sm-8">

							<ul class="social-icons">
								<li><a href="https://www.facebook.com/LetsTalkchat" target="_blank" class="fa fa-facebook"></a></li>
								<li><a href="https://twitter.com/go_letstalk" target="_blank" class="fa fa-twitter"></a></li>
							</ul>

						</div>
						<div class="col-sm-4 text-right">
							<div><a href="https://mixpanel.com/f/partner"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a></div>
							<div class="copyrights">
								Hecho a mano por Let's Talk SpA © 2015
							</div>
						</div>
					</section>

				</div>
			</div>
		</footer>

		<!--== Javascript Files ==-->
		

{% include scripts.html %}


